//TODO; add your tabs
//TODO: fix centering of popout window
//TODO: do an npm build script for sass stuff, and makit do the minify stuff for my scripts (and get confetti minify)
//TODO: remove npm_modules folder, add to git ignore
//TODO: do test when the local storage cannot be access
//TODO: finish footer
//TODO: fix the miss algin on word picture when window width is small
$body-bg: #1F1F23;
$body-color: rgba(255, 255, 255, 0.904);
$primary: green;
$enable-responsive-font-sizes: true;
$component-active-color: rgb(7, 70, 7);
@import "node_modules/bootstrap/scss/bootstrap";
//Normal scss
$max_image-size: 8rem;
$footer-height: 50px;
$chat_font_size: 1.0rem;
//Debug: layout outline
.my-container {
    border: 1px solid green;
}

.my-row {
    border: 1px solid red;
}

.my_col {
    border: 1px dotted blue;
}

html,
body {
    height: 100%;
}

.con-wrap {
    min-height: 100%;
}

.main-content {
    overflow: auto;
    padding-bottom: $footer-height;
}

@mixin no-margin-sm {
    @media only screen and (min-width: 890px) {
        margin: 0.005rem;
    }
}

.my-row {
    @include no-margin-sm;
}

@mixin chat-output-scale {
    @media only screen and (max-width: 890px) {
        font-size: 0.70rem;
        height: 20rem;
    }
}

.font_pop {
    -webkit-animation: font_pop 0.05s ease-in both;
    animation: font_pop 0.05s ease-in both;
}

@-webkit-keyframes font_pop {
    0% {
        font-size: $chat_font_size;
    }
    25% {
        font-size: calc(#{$chat_font_size} + 0.3rem);
    }
    100% {
        font-size: $chat_font_size;
    }
}

@keyframes font_pop {
    0% {
        font-size: $chat_font_size;
    }
    25% {
        font-size: calc(#{$chat_font_size} + 0.2rem);
    }
    100% {
        font-size: $chat_font_size;
    }
}

.chat_output {
    border: 1px solid rgb(150, 106, 106);
    height: 26rem;
    font-size: $chat_font_size;
    margin: 0.001rem;
    overflow: auto;
    @include chat-output-scale;
}

.margin_center {
    margin-left: auto;
    margin-right: auto;
}

.start_game_btn {
    width: 10em;
    font-size: 25px;
}

.hide_all_btn {
    padding: 0.2rem 0.50rem;
    font-size: 0.8rem;
}

.reveal_btn {
    padding: 0.2rem 0.50rem;
    font-size: 0.8rem;
}

.custom_label_swtich {
    font-size: 0.8rem;
}

.footer {
    position: relative;
    background-color: rgb(37, 37, 37);
    margin-top: calc( #{$footer-height} * -1);
    height: $footer-height;
    clear: both;
    padding-top: 10px;
}

.visible_tab {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.hidden_tab {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.4s, opacity 0.4s ease-in-out;
}