$body-bg: #1F1F23;
$body-color: rgba(255, 255, 255, 0.904);
$primary: green;
$enable-responsive-font-sizes: true;
@import "node_modules/bootstrap/scss/bootstrap";
//Debug: layout outline
// .my-container {
//     border: 1px solid green;
// }
// .my-row {
//     border: 1px solid red;
// }
// .my_col {
//     border: 1px dotted blue;
// }
$max_image-size: 8rem;
.my-row {
    margin: 0.05rem;
}

.hide_show_btn {
    padding: 0.2rem 0.50rem;
    font-size: 0.8rem;
}

.image_div_placeHolder {
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

.title {
    text-decoration: underline;
}