@-webkit-keyframes pop
{
   0% { -webkit-transform: perspective(1px) rotateX(0deg) scale3d(1,1,1) ;  }
   100% { -webkit-transform: perspective(1px) rotateX(0deg) scale3d(1.2,1.2,1.2) ;  }
}
@-moz-keyframes pop
{
   0% { -moz-transform: perspective(1px) rotateX(0deg) scale3d(1,1,1) ;  }
   100% { -moz-transform: perspective(1px) rotateX(0deg) scale3d(1.2,1.2,1.2) ;  }
}
@keyframes pop
{
   0% { transform: perspective(1px) rotateX(0deg) scale3d(1,1,1) ;  }
   100% { transform: perspective(1px) rotateX(0deg) scale3d(1.2,1.2,1.2) ;  }
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
.visibility-hidden
{
   visibility: hidden;
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #2E74B5;
   background-color: transparent;
}
.ChatOuput
{
   font-family: Tahoma;
   font-size: 17px;
   text-align: center;
   line-height: 21.03px;
   text-decoration: none;
   color: #FFFFFF;
   background-color: transparent;
   word-wrap: break-word;
   overflow-y: hidden;
   display: inline-block;
}
.Error_MSG
{
   font-family: Tahoma;
   font-size: 12px;
   text-align: center;
   text-decoration: none;
   color: #B22222;
   background-color: transparent;
}
.output_div
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-align: center;
   text-decoration: none;
   color: #2E74B5;
   background-color: transparent;
   border: 3px solid #000000;
   height: 200px;
}
